@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-container {
    @apply 2xl:max-w-[1368px] px-4 sm:px-8 2xl:px-0 mx-auto;
  }
  .btn-primary {
    @apply py-3 px-4 font-semibold rounded-lg bg-blue-700 text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-700 disabled:opacity-50 cursor-pointer;
  }
  .btn-outline {
    @apply py-3 px-4 font-semibold rounded-lg border border-solid border-blue-500 hover:border-blue-700 focus:outline-none focus:border-blue-700;
  }
  .btn-tag {
    @apply p-2 text-sm rounded-md text-gray-500 bg-zinc-100 hover:bg-zinc-200 focus:outline-none focus:bg-zinc-200;
  }
  .grid-layout {
    @apply grid gap-6 grid-cols-4 md:grid-cols-8 lg:grid-cols-12;
  }
  .input-base {
    @apply w-full border-2 border-solid border-[#EFF0F1] hover:border-gray-500 focus:border-gray-500 focus:outline-none text-[#646873] font-medium py-3.5 px-4 rounded-md;
  }
  .paper {
    @apply rounded-2xl border border-[#EFF0F1] bg-white shadow-paper py-5 px-4 md:py-6 md:px-6;
  }
  .text-secondary {
    @apply text-gray-400;
  }
  .divider {
    @apply border-b-2 border-[#EFF0F1];
  }
  .scrollbar-thin {
    scrollbar-color: rgba(26, 43, 93, 0.16) rgba(26, 43, 93, 0.08);
    scrollbar-width: thin;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: rgba(26, 43, 93, 0.08);
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(26, 43, 93, 0.16);
    border-radius: 100vw;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(26, 43, 93, 0.26);
  }
  .markdown > * {
    all: revert;
  }
  input.toggle {
    @apply mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 hover:cursor-pointer focus:outline-none focus:ring-0;
  }
  input.toggle::after {
    @apply absolute z-[2] -mt-[0.1875rem] h-5 w-5 rounded-full border-none bg-neutral-100 shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] transition-[background-color_0.2s,transform_0.2s] content-[''];
  }
  input.toggle:checked {
    @apply bg-[#3B71CA];
  }
  input.toggle:checked:focus {
    @apply bg-[#3B71CA];
  }
  input.toggle:checked::after {
    @apply z-[2] -mt-[3px] ml-[1.0625rem] shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)];
  }
  input.toggle:focus::after {
    @apply absolute z-[1] block h-5 w-5 rounded-full;
  }
}

.editor-container>.section {
  border: 0 !important;
}
